body {
  margin: 0;
  max-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  overflow-y: auto;
}
:root {
  --_access-icon-top: unset;
  --_access-icon-left: unset;
  --_access-icon-right: 10px;
  --_access-icon-bottom: 90px;
  /* --_access-menu-background-color: #000; */
  --_access-icon-border-radius: 100%;

  --_access-icon-z-index: 9999 !important;
  --_access-icon-display: block !important;
  --_access-icon-visible: visible !important;
}
.contatiner {
  overflow-x: hidden !important;
}
